body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.textcolor{color: red;}
.hlaf{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.hlaf img {
    width: 80%;
    margin-left:3% ;

}
.banner {
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;

}
section{
    height: 500px;

}
.button {
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px ;
    border-radius:5px;
    color:white;
    font-weight:700px;
}