body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.textcolor{color: red;}
.hlaf{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.hlaf img {
    width: 100%;
}